:root {
    /* primary */
    --primary-color: #000000;

    /* secondary color */
    --blue: #377DFF;
    --green: #38CB89;
    --orange: #FFAB00;
    --red: #FF5630;

    /* neutral */
    --neutral-7: #141718;
    --neutral-6: #232627;
    --neutral-5: #343839;
    --neutral-4: #6C7275;
    --neutral-3: #E8ECEF;
    --neutral-2: #F3F5F7;
    --neutral-1: #FEFEFE;
}

.discount {
    background: var(--neutral-3);
    height: 3%;
    padding: 8px 0px 8px 0px;
}

.discount span {
    font-size: 14px;
}

@media screen and (max-width: 1622px) {
    .discountLink {
        font-size: 12px;
    }
}

@media screen and (max-width: 1333px) {
    .discountLink {
        display: none;
    }
}

@media screen and (max-width: 1265px) {
    .discountTitle {
        font-size: 12px !important;
    }
}

.header {
    padding: 16px;
}

.menuList {
    list-style: none;
}

.cartBadge {
    width: 20px;
    height: 20px;
    background: var(--primary-color);
}

@media screen and (max-width: 1199px) {
    .cartBadge {
        display: none !important;
    }
}

.mobileHeader {
    padding: 16px;
}

.mobileCartBadge {
    width: 20px;
    height: 20px;
    background: var(--primary-color);
}

.mobileMenu {
    width: 100vw;
    height: 100vh;
    background: #00000032;
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.offcanvas {
    width: 90%;
    height: 100%;
    background: var(--neutral-2);
    padding: 24px 50px;
}

.mobileMenuList {
    list-style: none !important;
}